@model BookStoreMvcWeb.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "ShipingDetailsSummary";
}

<h2>Dane do wysyłki - podsumowanie</h2>

<address>
    <strong>@Model.FirstName, @Model.LastName</strong><br />
</address>
