<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Strona</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    
</head>
<body>
    <div class="container">   
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Product", new { @class = "navbar-brand" })        
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Szukaj">
                        </div>
                        <button type="submit" class="btn btn-default">Szukaj produktu</button>
                    </form>    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <blockquote class="blockquote-reverse">
                    <p>Skończ z byciem wielbłądem, przejmij inicjatywe i stań się lwem!</p>
                    <footer>Friedrich Nietzsche</footer>
                </blockquote>
            </div>
        </div>
    @RenderBody()
</body>
</html>
